{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}
	|Faq|Ajout
{% endblock %}

{% block content %}

	<main class="container">
		<h1>Ajouter FAQ</h1>
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		<form action="" method="post">
			<label for="question">Question:
			</label>
			<input type="text" value="{{ item.question }}" name="question">
			<label for="answer">Reponse:
			</label>
			<textarea type="text" value="{{ item.answer}}" name="answer" id="answer"></textarea>
			<button>Ajouter</button>
		</form>
		<a href="/admin/faq/index">Retour</a>
	</main>
{% endblock %}
