{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}
	| Faq | Ajout
{% endblock %}
{% block content %}
	<main class="container">
		<h1>Ajouter FAQ</h1>
		<ul>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		<form action="" method="post">
			<label for="question">Question
			</label>
			<textarea type="text" name="question" id="question" required>{{ faq.question }}</textarea>
			<label for="answer">Réponse
			</label>
			<textarea type="text" name="answer" id="answer" required>{{ faq.answer }}</textarea>
			<button>Ajouter</button>
		</form>
		<a href="/admin/faq/index">Retour</a>
	</main>
{% endblock %}
