<nav>
	<ul>
		<li>
			<a href="/"><img src="assets/images/logo_resize.png" alt="Logo ruche abeille"/></a>
		</li>
	</ul>
	<ul class="links" id="links">
		<li>
			<a href="#">Association</a>
		</li>
		<li>
			<a href="#">Abeilles</a>
		</li>
		<li>
			<a href="/beekeeping">Apiculture</a>
		</li>
		<li>
			<a href="#">Ressources</a>
		</li>
		<li>
			<a href="#">Login</a>
		</li>
	</ul>
	<a class="burger-icon" href="#links" id="openBtn">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
		</svg>
	</a>
	<a id="closeBtn" href="#" class="close">x</a>
</nav>
