<nav>
	<ul>
		<li>
			<a href="/"><img src="assets/images/logo_resize.png" alt="Logo ruche abeille"/></a>
		</li>
	</ul>
	<ul>
		<li><a href="#">Association</a></li>
		<li><a href="#">Abeilles</a></li>
		<li><a href="#">Apiculture</a></li>
		<li><a href="#">Ressources</a></li>
		<li><a href="#">Login</a></li>
	</ul>
</nav>
