
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
    <link rel="stylesheet" href="/assets/css/partner.css">

<section class ="id_partenaire">
<div class="partenaires">
    <div class="circle-partenaire">
        <a href="https://www.abeillesentinelle.net/" target="_blank"><img src="/assets/images/AbeilllesSentinelles.png" width="70" height="70"></a>
    </div>
    <div class="circle-partenaire">
        <a href="https://www.apiculture.net/" target="_blank"><img src="/assets/images/beefriend.webp" width="70" height="70"></a>
    </div>
    <div class="circle-partenaire">
        <a href="https://www.anses.fr/fr/content/sant%C3%A9-des-abeilles" target="_blank"><img src="/assets/images/logo:abeilles.png" width="70" height="70"></a>
    </div>
</div>
</section>