{% extends 'layout.html.twig' %}

{% block content %}

    <section>
        <h1>L'association</h1>
        <p>
		L’Abeille olivétaine est une association loi 1901 qui a pour but
        de promouvoir la connaissance des abeilles auprès du grand public.
        Elle travaille également en relation avec les apiculteurs.
       </p>
    </section>
    <section>
        <h1>Tous les évènements</h1>
        <div class="events">
            <article>
                <h2>Évènement 1</h2>
                <img class="event" src="" alt=""/>
                <p>L'évènement 1 s'est déroulé...</p>
                <a href="">Voir plus...</a>
            </section>

            {% for event in events %}
                {{ article }}
            {% endfor %}

        {% endblock %}