{% extends 'layout.html.twig' %}

{% block content %}
    <main class='container'>
		<h1>Présentation :</h1>
		<p class='container'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer aliquam ipsum ut mauris pulvinar facilisis. Suspendisse porta nulla aliquam ultrices mattis. Duis vitae turpis vehicula, pulvinar leo eget, sollicitudin dolor. Donec est odio, tempus bibendum laoreet porta,
		    dignissim quis orci. Donec sit amet tincidunt sem. Mauris consectetur arcu vel sem mattis, vel blandit velit pharetra. Aenean quam leo, luctus ut ultricies quis, aliquam nec ipsum. In volutpat libero ac odio luctus imperdiet eu condimentum mauris. Phasellus viverra ipsum neque
			, et feugiat tortor fermentum id. Sed non arcu vitae enim ornare dapibus.
		</p>
        
	</main>
{% endblock %}
