{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}
	| Abeilles
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/abeilles.css">
{% endblock %}
{% block content %}
	<header class="header">
		<h1>Les abeilles</h1>
	</header>
	<main class="container">
		<h2>Description</2>
			<section class="Description">
			<img src="assets/images/anatomie_abeille.jpg" alt="anatomie d'une abeille">
			<p>Les abeilles (Anthophila) forment un clade d'insectes hyménoptères de la super-famille des Apoïdes.
				Au moins 20 000 espèces d'abeilles sont répertoriées sur la planète dont environ 2 000 en Europe et près de 1 000 en France.
				L'espèce la plus connue est probablement Apis mellifera, qu'on élève dans des ruches pour la pollinisation des cultures et la production de miel.
				Cependant, la majorité des espèces d'abeilles se nourrit du nectar des fleurs et ne produit pas de miel.</p>
				<p>Les abeilles peuvent être classées selon leur mode de vie : domestiques ou sauvages, solitaires ou bien sociales, etc.
				Elles sont nettement distinctes des guêpes par leur morphologie et leur comportement, notamment leur alimentation.
				Les bourdons, en revanche, sont un groupe particulier d'abeilles.</p>

				<p>Les abeilles et les autres espèces de pollinisateurs, sont actuellement gravement menacées, avec un taux d'extinction
				qui est « de 100 à 1 000 fois plus élevé que la normale », selon l'ONU.
				Lors de la Journée mondiale des abeilles du 20 mai 2019, l'ONU a détaillé les principales causes du déclin des pollinisateurs : 
				l'utilisation de pesticides, la monoculture, les pratiques agricoles intensives, le changement climatique,
				le changement d'affectation des terres et la destruction des habitats.
				</p>
			</section>
			
			<h2>Physiologie, comportement et écologie<h2>
				<section class="Physio">
					<img src="assets/images/vie_abeille.jpg" alt="étapes de vie d'une abeille">
					<p>Des petits vers recroquevillés sont alignés dans des tubes qui ressemblent à d'anciennes tiges.
						Larves d'abeilles (Osmia cornuta, peut-être quelques Osmia bicornis) dans un hôtel à abeilles à différentes étapes de développement. Mai 2018.
						Nid d'abeille abandonné dans le parc national d'Eravikulam en Inde. Novembre 2017.
							
						Les caractéristiques générales des abeilles sont celles des guêpes apoïdes, ce sont donc des insectes hyménoptères dont les adultes
						sont généralement velus et se nourrissent de nectar, avec des nuances pour chaque espèce : voir les articles détaillés pour plus d'informations sur leur description ou leur mode de vie. Par exemple, pour les abeilles à miel d'Europe, voir tout le genre Apis et principalement Apis mellifera.</p>

					<h2>Histoire évolutive<h2>

						<p>Découverte en 2006, cette abeille (Melittosphex burmensis), fossilisée dans l'ambre, est datée de 100 Ma.				
						L'histoire évolutive des insectes met en évidence que les premiers insectes apparaissent vers 400 Ma au Dévonien, les insectes volants vers 350 Ma au Carbonifère.<br>
						On ignore encore quel est l'ancêtre commun à tous les Apoïdes. Les premières abeilles stricto sensu sont probablement apparues en même temps que les premières fleurs, c'est-à-dire il y a plus de 100 millions d'années, la flore terrestre étant auparavant dominée par les Gymnospermes. Les études génétiques suggèrent que les abeilles proviennent, comme les fourmis, de la spécialisation de guêpes prédatrices de la famille des Crabronidés, le changement du comportement alimentaire pouvant s'expliquer par la consommation par ces guêpes de proies qui visitaient les fleurs et se couvraient de pollen.
						Les premières abeilles ont probablement été solitaires et spécialistes (pollinisation d'un nombre défini de fleurs), certaines évoluant vers des formes sociales plus ou moins élaborées et devenant des pollinisateurs généralistes mais ces transitions instables font que certaines sont retournées vers un mode de vie solitaire.</p>

						<p>On a retrouvé les plus anciens fossiles d'abeilles en inclusion dans de l'ambre. Ces abeilles appartiennent à des espèces et des genres à présent éteints. Le plus vieux fossile à ce jour est Melittosphex burmensis : datée de 100 Ma, cette espèce minuscule découverte en 2006 en Birmanie avait des grains de pollen sur les pattes. Sa découverte confirme l'origine commune des guêpes et des abeilles et l'ancienneté de la coévolution entre les « abeilles » et les Angiospermes (spécialisation dans la consommation de nectar et de pollen et rôle dans la pollinisation). Cette découverte suggère que les premières abeilles végétariennes ont émergé à partir d'ancêtres guêpes insectivores.				
						Le genre Electrapis vivait au Crétacé supérieur, il y a environ 70 Ma, dans l'actuelle région de la mer Baltique et avait une forme très proche de l'abeille à miel contemporaine.</p>
				</section>
		</main>
{% endblock %}
