{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}
	|Ressource
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/faq.css">
{% endblock %}
{% block content %}
	<h1>FAQ</h1>
	{% for item in faq %}
		<p>Question:<li>{{ item.question }}</li>
		</p>
		<p>Réponse:
			<li>{{ item.answer}}</li>
		</p>
	{% endfor %}
{% endblock %}
