{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/partner.css">
<<<<<<< HEAD
=======
	<link rel="stylesheet" href="/assets/css/footer.css">

>>>>>>> 8d03c8fcb116d72034d3dabef63d4ed84a4532ab
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

	<main class="container">
		<h1>Ajouter un partenaire</h1>
		<ul class="errors">
			{% for error in errors %}
				<li>
					{{ error }}
				</li>
			{% endfor %}
		</ul>
		<form action="" method="POST">

			<label for="nom">Nom du site</label>
			<input type="text" id="name" name="name" required value=" {{ partner.name }}">

			<label for="lien">URL du site</label>
			<input type="text" id="link" name="link" required value=" {{ partner.link }}">

			<button>Ajouter</button>
		</form>
		<a href="/admin/partenaire">Retour</a>
	</main>
{% endblock %}
<<<<<<< HEAD

=======
>>>>>>> 8d03c8fcb116d72034d3dabef63d4ed84a4532ab

