{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

	<main class="container">
		<h1>Ajouter un partenaire</h1>
		<ul class="errors">
			{% for error in errors %}
				<li>
					{{ error }}
				</li>
			{% endfor %}
		</ul>
		{% include 'Admin/Partner/_form.html.twig' %}
		<a href="/admin/partenaire">Retour</a>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
