{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/partner.css">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}

	<main class="container">
		<h1>Ajouter un partenaire</h1>
		
		{% include 'Admin/Partner/_form.html.twig' %}
		<a href="/admin/partenaire">Retour</a>
	</main>
{% endblock %}


