{% block stylesheet %}
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	<link rel="stylesheet" href="/assets/css/adminpartner.css">

{% endblock %}

{% block content %}
	<main class="container">
    <h1>Administration des partenaires</h1>
	<a href="/admin/partenaire/ajouter" role="button">Ajouter un partenaire</a>
		<table>
			<thead>
				<tr>
					<th>Logo</th>
					<th>Lien</th>
				</tr>
			</thead>
			<tbody>
				{% for partner in partners %}
					<tr>
						<td>{{ partner.logo }}</td>
						<td>{{ partner.link }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</main>
{% endblock %}
