{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/partner.css">
<<<<<<< HEAD
=======
	<link rel="stylesheet" href="/assets/css/footer.css">

>>>>>>> 8d03c8fcb116d72034d3dabef63d4ed84a4532ab
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<main class="container">
		<h1>Modifier le partenaire
			{{ partner.name }}</h1>

		{% include 'Admin/Partner/_form.html.twig' %}

		<a href="/admin/partenaire">Retour</a>
	</main>
{% endblock %}
