{% extends 'layout.html.twig' %}
{% block title %}
	{{parent()}}
	Admin|Évènements
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
	<main class="container">
		<h1>Administration Évènements</h1>
		<a role="button" href="/admin/event/ajouter">Ajouter</a>
		<table>
			<thead>
				<tr>
					<th>Nom</th>
				</tr>
			</thead>
			<tbody>
				{% for event in events %}
					<tr>
						<td>{{ event.name }}</td>
						<td class="btn-add-suppr">
							<form action="/admin/event/supprimer?id={{ event.id }}" method="POST">
								<button class="outline" name="id">Supprimer</button>
							</form>
							<a role="button" href="/admin/event/modifier?id={{ event.id }}" >Modifier</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="return" role="button" href="/admin">Retour</a>
	</main>
{% endblock %}
{% block footer %}{% endblock %}
