.Physio img,
.Description img {
    width: clamp(10rem, 100%, 25rem);
    height: auto;
    float: left;
    margin: var(--spacing) ;
    padding-right: 0.5rem;
    object-fit : cover;
}

.physio,
.description {
    font-size: larger;
}

#sous-titre {
    margin-top: -3rem;
    margin-bottom: 3rem;
}

#sous-titre2 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.header {
    background-image: url("../images/abeilles_abeilles.jpg")
}