.Physio img,
.Description img {
    width: clamp(10rem, 100%, 25rem);
    height: auto;
    float: left;
    margin: var(--spacing) ;
}

.header {
    background-image: url("../images/abeilles_abeilles.jpg")
}

h1 {
    text-align: center;
    color: var(--secondary);
    font-family: var(--font-title);
}