:root:not([data-theme="dark"]) {
    --primary: #F7CD46;
    --secondary: #522b14;
    --light: #fff5d0;
    --body: #FFFAE8;
    --dark: #230a04;
    --dark: #230a04;
}

h1 {
    color: var(--secondary);
}

body {
    background-color: var(--light);
}

th, td, label{
    color: var(--secondary);
}

li {
    color: var(--secondary);
}


