.history img,
.honey img {
    width: clamp(10rem, 100%, 30rem);
    height: 20rem;
    margin: var(--spacing);
    padding-right: 0.5rem;
    object-fit: cover;
}

.history,
.honey {
    font-size: larger;
}

.header {
    background-image: url("/assets/images/beekeepingHeader.jpg")
}

.flex {
    display: flex;
}

.text {
    width: 50%;
}