.history img,
.honey img {
    width: clamp(10rem, 100%, 25rem);
    height: auto;
    float: left;
    margin: var(--spacing) ;
}

.header {
    background-image: url("/assets/images/beekeepingHeader.jpg")
}