details>p {
    background: var(--light);
    border: solid 1px var(--dark);
    margin-block-start: -20px;
    margin-inline: var(--spacing);
    padding: var(--spacing);
    border-radius: 5px;
    color: var(--dark);
}

details {
    border-bottom: solid 2px var(--dark);
    margin-block-start: var(--spacing);
}

summary {
    border: solid 1px var(--dark);
    margin-inline: var(--spacing);
    padding: var(--spacing);
    border-radius: 5px;
}

details summary:not([role]) {
    color: var(--light);
    background-color: var(--secondary);
}

a {
    color: var(--dark);
}

a:is([aria-current], :hover, :active, :focus) {
    text-decoration: none;
    color: var(--primary);
}
  
details summary:focus:not([role="button"]) {
    color: var(--light);
}
