p {
    margin-inline-start: 2rem;
}

li {
    margin: 1rem;
    list-style-type: none;
}

h1 {
    --faq-typography-spacing-vertical: 0.5rem;
    margin: var(--faq-typography-spacing-vertical);
    text-align: center;
}

details>p {
    background: var(--light);
    border: solid 1px black;
    margin-block-end: 0;
    padding: var(--spacing);
    border-radius: 5px;;
}

  

