details>p {
    background: var(--dark);
    border: solid 1px var(--dark);
    margin-block-start: -20px;
    margin-inline: var(--spacing);
    padding: var(--spacing);
    border-radius: 5px;
    color: var(--light);
}

details {
    border-bottom: solid 2px var(--dark);
    margin-block-start: var(--spacing);
}

summary {
    border: solid 1px var(--dark);
    margin-inline: var(--spacing);
    padding: var(--spacing);
    border-radius: 5px;
}

details summary:not([role]) {
    color: var(--dark);
}

a {
    color: black;
}

a:is([aria-current], :hover, :active, :focus) {
    text-decoration: none;
    color: var(--primary);
}
  

