@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

.id_partenaire {
    background-color: var(--light);
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    gap: 6.5vw;
}


.circle-partenaire {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 50%;
}


.partenaires {
    display: flex;
}



