{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">
	<link rel="stylesheet" href="/assets/css/style.css">
	<link rel="stylesheet" href="/assets/css/fix.footer.css">
{% endblock %}
{% block navbar %}{% include "Item/_navbar.html.twig" %}{% endblock %}
{% block content %}
	<main class="container">

		<h1>Page d'administration globale</h1>
		<h2 class="adminTitle">Les parties administrables</h2>
		<ul>
			<li><a href="/admin/faq/index"><article class="adminIndex"><p class="element">La FAQ</p></article></a></li>
			<li><a href="/admin/partenaire"><article class="adminIndex"><p class="element">Les partenaires</p></article></a></li>
			<li><a href="/admin/event/index"><article class="adminIndex"><p class="element">Les événements</p></article></a></li>
			<li><a href=""><article class="adminIndex"><p class="element">Les photos</p></article></a></li>
			<li><a href=""><article class="adminIndex"><p class="element">Les liens</p></article></a></li>
		</ul>
	</main>
{% endblock %}
{% block footer %}{% include "Home/_fix.footer.html.twig" %}{% endblock %}
