{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/style.css">
{% endblock %}
{% block content %}
	<main class="container">
		<section class="contact" id="contact-section">
			<h1 class="title-contact">Contact</h1>
			<ul class="errors">
				{% for error in errors %}
					<li>
						{{ error }}
					</li>
				{% endfor %}
			</ul>
			<div class="content-form">
				<div class="form">
					<form action="" id="formulaire" method="POST">
						<input type="text" id="first-name" name="user_firstname" placeholder="Prénom" required>
						<input type="text" id="last-name" name="user_lastname" placeholder="Nom" required>
						<input type="email" id="email" name="user_email" placeholder="Email" value=" {{ contact.user_email }}" required>
						<input type="number" id="number" name="user_number" placeholder="Numéro" value=" {{ contact.user_number }}" required>
						<label for="user_origin">Veuillez séléctionner le sujet de votre demande</label>
						<select name="user_origin" id="user_origin">
							<option value="carrers">Recrutement</option>
							<option value="bees">Les abeilles</option>
							<option value="beekeeping">L'apiculture</option>
							<option value="others">Autres...</option>
						</select>
						<textarea id="message" name="user_message" placeholder="Message..." cols="30" rows="10" value=" {{ contact.user_message }}" required ></textarea>
						<button type="submit">Envoyer</button>
					</form>
				</div>
			</section>
		</main>

	{% endblock %}
